* {
    box-sizing: border-box;
  }
  
  .dark:root {
    --main-background: #1f1d2b;
    --main-color: #fff;
    --secondary-color: rgba(255,255,255,.8);
  }
  
  html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-background);
  }
  
  .mode-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    
    border: none;
    color: var(--main-color);
    background-color: transparent;
    cursor: pointer;
  }
  
   .dark {
      color: var(--secondary-color);
   }
  
  .mode-switch.active .moon {
    fill: var(--main-color);
  }